<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="static/css/buy.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>お買い上げありがとうございます</title>
</head>
<body>
    <header>
        <div class="header_flex">
            <nav class="clothesSite">
                <form action="/result" method="get">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>All Items<button class="submit" type="submit" name="keyWord" value="productList"></button></li>
                        <li>Popular<button class="submit" type="submit" name="keyWord" value="popular"></button></li>
                        <li><a href="/inquiry/">inquiry</a></li>
                    </ul>
                </form>
                <form action="/result" method="get">
                    <div>
                        <input type="search" class="header_search" name="keyWord" placeholder="キーワードを入力">
                        <button type="submit" class="header_button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
                
            </nav>
            <!-- <div>
                <form class="search_div" action="/result" method="get">
                    <input type="text" class="search" class="block" name="search">
                    <input type="submit" class="search_button" class="block">
                </form>
                <div class="button_div">
                        
                </div>
            </div> -->
            <div class="header_img">
                <img src="static/images/logo/logo_black.PNG" alt="" class="img">
            </div>
            <nav class="account_and_sub">
                <ul class="login">
                    <li class="logout"><a href="/login">{{ log }}</a></li>
                    <li class="username list2">{{ acount | safe }}</li>
                    <!-- <li><a a href="/clothesList" class="h">clothes</a></li> -->
                </ul>
                {{ account_detail | safe }}
                
            </nav>
        </div>
        
    </header>
    <article>
        <section class="thanksText">
            <div class="img">
                <img src="static/images/logo/buy.jpeg" alt="">
            </div>
            <div class="thanks">
                <h2>お買い上げありがとうございました。</h2>
                <h2>またのご利用をお待ちしております。</h2>
            </div>
            
        </section>
        <section class="more">
            <form action="/product">
                <div class="moreText">
                    <h2>他の商品もみる</h2>
                    <h3>人気の商品</h3>
                </div>
                <div class="slider8">
                    {{ addFavoriteList | safe}}
                </div>
                <div class="moreText">
                    <h3>同じカテゴリの商品</h3>
                </div>
                <div class="slider11">
                    {{ same_type_tag | safe }}
                </div>
            </form>
        </section>
    </article>
    <div id="load">
        <div>G</div>
        <div>N</div>
        <div>I</div>
        <div>D</div>
        <div>A</div>
        <div>O</div>
        <div>L</div>
    </div>
    {{ footer_tag | safe }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="static/js/slick.js"></script>
    <script src="static/js/load.js"></script>

</body>
</html>