<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="./../../static/css/feature/feature1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_name }}</title>
</head>

<body>
    <header>
        <div class="header_flex">
            <nav class="clothesSite">
                <form action="/result" method="get">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>All Items<button class="submit" type="submit" name="keyWord" value="productList"></button>
                        </li>
                        <li>Popular<button class="submit" type="submit" name="keyWord" value="popular"></button></li>
                        <li><a href="/inquiry">inquiry</a></li>
                    </ul>
                </form>
                <form action="/result" method="get">
                    <div>
                        <input type="search" class="header_search" name="keyWord" placeholder="キーワードを入力">
                        <button type="submit" class="header_button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>

            </nav>
            <div class="header_img">
                <img src="static/images/logo/logo_black.PNG" alt="" class="img">
            </div>
            <nav class="account_and_sub">
                <ul class="login">
                    <li class="logout "><a href="/login">{{ log }}</a></li>
                    <li class="username list2">{{ account | safe }}</li>
                    <!-- <li><a a href="/clothesList" class="h">clothes</a></li> -->
                </ul>
                {{ account_detail | safe }}

            </nav>
        </div>
    </header>
    <article>
        <section class="top">
            <div class="top_img">
                <img src="static/images/feature/{{ top_img }}" alt="">
            </div>
            <div class="top_text">
                <h1>人気通販ランキング</h1>
                <h2>ネット通販で特に人気だった服を集めました！</h2>
            </div>
        </section>
        <section class="product">
            <form action="/product">
                <div class="row">
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/61WF56dAaCL._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>メンズ モッズコート 中綿ジャケット マウンテンジャケット 防寒...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥5,567</h4>
                            </div>

                        </div>
                        <button type="submit" class="submit" name="submit" value="submit13"></button>
                    </div>
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/611egySH6KL._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>メンズ コート 冬 ロングコート モッズコート ファー付き ミリ...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥3,506</h4>
                            </div>

                        </div><button type="submit" class="submit" name="submit" value="submit117"></button>
                    </div>
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/71c2ZKa7mAL._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>メンズ ジャケット コート ミリタリージャケット マウンテンパー...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥9,751</h4>
                            </div>

                        </div>
                        <button type="submit" class="submit" name="submit" value="submit16"></button>
                    </div>
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/81wlrzdmSRL._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>ジャケット メンズ ウールジャケット ハーフ丈 メルトンコート ...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥2,998</h4>
                            </div>

                        </div><button type="submit" class="submit" name="submit" value="submit118"></button>
                    </div>
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/71RR2BYQrEL._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>D.GROW 防寒服 防寒着 コート ジャケット 裏地ボア 秋冬...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥5,418</h4>
                            </div>

                        </div>
                        <button type="submit" class="submit" name="submit" value="submit24"></button>
                    </div>
                </div>
                <div class="row">
                    <div class="line pants">
                        <div class="productImg"><img src="static/images/clothes/pants/51YHw4uMR+L._AC_UL320_.jpg" alt=""
                                class="img"></div>
                        <div class="productTitle">
                            <h3>ズボン メンズ 秋冬服 ストライプ ステッチ ボトムス おしゃれ...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥5,703</h4>
                            </div>
                            
                        </div>
                        <button type="submit" class="submit" name="submit"
                            value="submit1183"></button>
                    </div>
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/51jCv29sSvL._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>秋服 メンズ パーカー メンズ ジップ パーカー 長袖 ビンテー...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥4,616</h4>
                            </div>
                            
                        </div><button type="submit" class="submit" name="submit" value="submit15"></button>
                    </div>
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/71Qnn2ygkRL._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>デニム ジャケット アウター メンズ ジージャン 綿 Gジャン ...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥2,288</h4>
                            </div>
                            
                        </div><button type="submit" class="submit" name="submit" value="submit83"></button>
                    </div>
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/71Wc9fMQU1L._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>ボアジャケット メンズ 冬服 ブルゾン 防寒 中綿ジャケット カ...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥723</h4>
                            </div>
                            
                        </div>
                        <button type="submit" class="submit" name="submit"
                            value="submit159"></button>
                    </div>
                    <div class="line shirt">
                        <div class="productImg"><img src="static/images/clothes/shirt/71ulX1BN0tL._AC_UL320_.jpg" alt=""
                                class="img"></div>
                        <div class="productTitle">
                            <h3>インナーシャツ メンズ ハイネック カットソー 長袖 tシャツ ...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥9,069</h4>
                            </div>
                            
                        </div><button type="submit" class="submit" name="submit" value="submit364"></button>
                    </div>
                </div>
                </div>
            </form>
        </section>
    </article>
{% endblock %}