{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="./../../static/css/feature/feature1.css">
{% endblock %}

{% block title %}{{ page_name }}{% endblock %}

{% block content %}
    <article>
        <section class="top">
            <div class="top_img">
                <img src="static/images/feature/{{ top_img }}" alt="">
            </div>
            <div class="top_text">
                <h1>人気通販ランキング</h1>
                <h2>ネット通販で特に人気だった服を集めました！</h2>
            </div>
        </section>
        <section class="product">
            <form action="/product">
                <div class="row">
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/619Sd44XptL._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>冬服 メンズ ダウンジャケット メンズ コート 冬 フード付き ...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥3,501</h4>
                            </div>
                            
                        </div>
                        <button type="submit" class="submit" name="submit"
                            value="submit88"></button>
                    </div>
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/61nASmRVYyL._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>冬服 メンズ 防寒 コート 中綿 ジャケット フード付き 厚手 ...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥6,494</h4>
                            </div>
                            
                        </div>
                        <button type="submit" class="submit" name="submit"
                            value="submit1"></button>
                    </div>
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/51Hl9e-urRL._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>ダウンジャケット ライトダウン メンズ ダウンコート ショート丈...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥9,363</h4>
                            </div>
                            
                        </div><button type="submit" class="submit" name="submit" value="submit106"></button>
                    </div>
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/5119RsFp8CL._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>メンズ パーカー スウェット トレーナー おしゃれ 大きい サイ...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥7,903</h4>
                            </div>
                            
                        </div><button type="submit" class="submit" name="submit" value="submit3"></button>
                    </div>
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/615rbbshF9L._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>ダウンジャケット メンズ コート ダウンコート アウター ビジネ...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥6,833</h4>
                            </div>
                            
                        </div><button type="submit" class="submit" name="submit" value="submit114"></button>
                    </div>
                </div>
                <div class="row">
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/81FORCIAhcL._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>コート メンズ チェスターコート ウール 厚手 秋冬 ビジネス ...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥1,124</h4>
                            </div>
                            
                        </div>
                        <button type="submit" class="submit" name="submit"
                            value="submit188"></button>
                    </div>
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/61QT-8LVtxL._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>メンズ レザージャケット ライダースジャケット カジュアルジャケ...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥6,707</h4>
                            </div>
                            
                        </div><button type="submit" class="submit" name="submit" value="submit66"></button>
                    </div>
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/51Cxxn3iRNL._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>ダウンジャケット レディース 軽量 防風 防寒 暖かい ウルトラ...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥2,085</h4>
                            </div>
                            
                        </div><button type="submit" class="submit" name="submit" value="submit200"></button>
                    </div>
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/91EeFrb4UPL._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>ミドル丈 アウター 外套 ブレザー ハーフコート ビジネスジャケ...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥9,993</h4>
                            </div>
                            
                        </div><button type="submit" class="submit" name="submit" value="submit75"></button>
                    </div>
                    <div class="line jacket">
                        <div class="productImg"><img src="static/images/clothes/jacket/51FfexwhcgL._AC_UL320_.jpg"
                                alt="" class="img"></div>
                        <div class="productTitle">
                            <h3>中綿コート メンズ 無地 ロング丈 中綿入 ジャケット 厚手 フ...</h3>
                        </div>
                        <div class="priceAndReview">
                            <div class="price">
                                <h4>￥1,225</h4>
                            </div>
                            
                        </div><button type="submit" class="submit" name="submit" value="submit254"></button>
                    </div>
                </div>
            </form>
        </section>
    </article>
{% endblock %}