
article {
    padding-top: 22vh;
}

.top {
    width: 100%;
    /* height: 78vh; */
}

.top .top_img {
    width: 80%;
    height: 78vh;
    margin: 0 auto;
    /* background-color: aquamarine; */

}

.top .top_img img{
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.top  .top_text {
    width: 80%;
    margin: 0 auto;
    height: 15vh;
    text-align: center;
    line-height: 5vh;
    padding: 5vh 0;
}

.top  .top_text h1 {
    font-size: 3.5vmin;
}

.top  .top_text h2 {
    font-size: 2.7vmin;
}

.product {
    width: 100%;
}

.product .row {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    justify-content: space-around
}

.row .line {
    width: 16%;
    padding: 1%;
    position: relative;
}

.row .line .productImg {
    height: 40vh;
    width: 100%;
}

.row .line .productImg img {
    display: block;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
}