<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/css/style.css">

    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header_flex">
            <div class="header_img">
                <img src="./../static/images/ダウンロード.jpg" alt="" class="img">
            </div>
            <div>
                <form class="search_div" action="/login">
                    <input type="text" class="search" class="block">
                    <input type="submit" class="search_button" class="block">
                </form>
                <div class="button_div">
                    <!-- {{ acount | safe }} -->
                </div>
            </div>
            <nav>
                <ul class="nav_flex">
                    <div class="account">
                        <i class="fas fa-user fontawsame" ></i>
                    </div>
                    <li><a href="">HOME</a></li>
                    <li><a href="">clothes</a></li>
                    <li><a href="">pickup</a></li>
                    <li><a href="">other</a></li>
                </ul class>
                <ul>
                    <li></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="account_detail">
        <nav>
            <ul>
                <li><a href="">アカウント情報</a></li>
                <li><a href="">ログアウト</a></li>
                <li><a href="">カート</a></li>
                <li><a href="">購入履歴</a></li>
            </ul>
        </nav>
    </div>
    <nav class="bread">
        
    </nav>
    <article>
        <section class="one">
        <!-- <div id = "soto">
            <img class = "gazo" src = "././../static/images/ダウンロード.jpg"> 
            <img class = "gazo" src = "././../static/images/ダウンロード.jpg">
            <img class = "gazo" src = "././../static/images/ダウンロード.jpg">
            <img class = "gazo" src = "././../static/images/ダウンロード.jpg">
            <img class = "gazo" src = "././../static/images/ダウンロード.jpg">
        </div> -->
            <div class="slider1">
                <div class="s_img"><a href=""><img src="./../static/images/sample/1.jpg" alt=""  class="div_img"></a></div>
                <div class="s_img"><a href=""><img src="./../static/images/sample/2.jpg" alt=""  class="div_img"></a></div>
                <div class="s_img"><a href=""><img src="./../static/images/sample/3.jpg" alt=""  class="div_img"></a></div>
                <div class="s_img"><a href=""><img src="./../static/images/ダウンロード.jpg" alt=""  class="div_img"></a></div>
                <div class="s_img"><a href=""><img src="./../static/images/ダウンロード.jpg" alt=""  class="div_img"></a></div>
                <div class="last s_img"><a href=""><img src="./../static/images/ダウンロード.jpg" alt=""  class="div_img"></a></div>
            </div>
        </section>
        <section class="two">
            <h2 class="q">what to buy?</h2>
            <div class="menu">
                <div class="menu_solid top1" id="">
                    <div class="menu_img">
                        <img src="./../static/images/sample/1.jpg" alt="" class="img">
                    </div>
                    <div class="menu_title">
                        <h2>TOP</h2>
                    </div>
                </div>
                <div class="or"><h2>or</h2></div>
                <div class="menu_solid bottom1" id="">
                    <div class="menu_img">
                        <img src="./../static/images/sample/3.jpg" alt="" class="img">
                    </div>
                    <div class="menu_title">
                        <h2>BOTTOM</h2>
                    </div>
                </div>
            </div>
            <div class="menu2 top2">
                <div class="menu_solid" id="">
                    <div class="menu_img">
                        <img src="./../static/images/sample/1.jpg" alt="" class="img">
                    </div>
                    <div class="menu_title">
                        <h2>T-shirt</h2>
                    </div>
                </div>
                <div class="menu_solid" id="">
                    <div class="menu_img">
                        <img src="./../static/images/sample/1.jpg" alt="" class="img">
                    </div>
                    <div class="menu_title">
                        <h2>TOP</h2>
                    </div>
                </div>
                <div class="menu_solid" id="">
                    <div class="menu_img">
                        <img src="./../static/images/sample/1.jpg" alt="" class="img">
                    </div>
                    <div class="menu_title">
                        <h2>jacket</h2>
                    </div>
                </div>
            </div>
            <div class="menu2 bottom2">
                <div class="menu_solid" id="">
                    <div class="menu_img">
                        <img src="./../static/images/sample/1.jpg" alt="" class="img">
                    </div>
                    <div class="menu_title">
                        <h2>T-shirt</h2>
                    </div>
                </div>
                <div class="menu_solid" id="">
                    <div class="menu_img">
                        <img src="./../static/images/sample/1.jpg" alt="" class="img">
                    </div>
                    <div class="menu_title">
                        <h2>TOP</h2>
                    </div>
                </div>
                <div class="menu_solid" id="">
                    <div class="menu_img">
                        <img src="./../static/images/sample/1.jpg" alt="" class="img">
                    </div>
                    <div class="menu_title">
                        <h2>jacket</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="three">
            <!-- <div class="lay">
                <div class="product">
                    <div class="product_img">
                        <img src="./../static/images/ダウンロード.jpg" alt="">
                    </div>
                    <div class="product_info">
                        <h3 class="product_price">
                            
                        </h3>
                        <p class="product_text">

                        </p>
                    </div>
                </div>
                <div class="product">
                    <div class="product_img">
                        <img src="./../static/images/ダウンロード.jpg" alt="">
                    </div>
                    <div class="product_info">
                        <h3 class="product_price">
                            
                        </h3>
                        <p class="product_text">

                        </p>
                    </div>
                </div>
                <div class="product">
                    <div class="product_img">
                        <img src="./../static/images/ダウンロード.jpg" alt="">
                    </div>
                    <div class="product_info">
                        <h3 class="product_price">
                            
                        </h3>
                        <p class="product_text">

                        </p>
                    </div>
                </div>
                <div class="product">
                    <div class="product_img">
                        <img src="./../static/images/ダウンロード.jpg" alt="">
                    </div>
                    <div class="product_info">
                        <h3 class="product_price">
                            
                        </h3>
                        <p class="product_text">

                        </p>
                    </div>
                </div>
                <div class="product">
                    <div class="product_img">
                        <img src="./../static/images/ダウンロード.jpg" alt="">
                    </div>
                    <div class="product_info">
                        <h3 class="product_price">
                            
                        </h3>
                        <p class="product_text">

                        </p>
                    </div>
                </div>
            </div> -->
            <div class="lay_s">
                <div class="slider2">
                    <div class="s_img"><a href=""><img src="./../static/images/ダウンロード.jpg" alt=""  class="div_img"></a></div>
                    <div class="s_img"><a href=""><img src="./../static/images/ダウンロード.jpg" alt=""  class="div_img"></a></div>
                    <div class="s_img"><a href=""><img src="./../static/images/ダウンロード.jpg" alt="" class="div_img"></a></div>
                    <div class="s_img"><a href=""><img src="./../static/images/ダウンロード.jpg" alt="" class="div_img"></a></div>
                    <div class="s_img"><a href=""><img src="./../static/images/ダウンロード.jpg" alt="" class="div_img"></a></div>
                    <div class="last s_img"><a href=""><img src="./../static/images/ダウンロード.jpg" alt="" class="div_img"></a></div>
                </div>
            </div>
            <div class="lay">
                
            </div>
            <div class="lay">

            </div>
            <div class="lay">

            </div>
        </section>
    </article>
    <footer>

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="./../static/js/slick.js"></script>
    <script src="./../static/js/script.js"></script>
</body>
</html>