<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">

        <h2>あなたの名前を入力してください</h2>
        <h3>苗字</h3>
        <input type="text" name="lastName" id="lastName" required>
        <h3>名前</h3>
        <input type="text" name="firstName" id="firstName" required>
        <h2>メールアドレスを入力してください</h2>
        
        <h3>{{ emailError }}</h3>
        <input type="email" name="email" id="email">
        <h2>パスワードを入力してください</h2>
        <h3>{{ passError }}</h3>
        <input type="password" name="pass1" id="pass1" required>
        <h2>確認のためもう一度パスワードを入力してください</h2>
        <h3>{{ passError }}</h3>
        <input type="password" name="pass2" id="pass2" required>
        <input type="submit">
    </form>
    <article>
        {{ text | safe }}
    </article>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ script | safe }}
</body>
</html>